<div class="container" style="width: fit-content">

  <div class="sub_container_position">
    <h4><span>会員情報編集</span></h4>

      <%= form_with model: @customer, url: customers_introduction_path, method: :patch do |f| %>
      <%#= render "public/shared/error_messages", resource: resource %>
      <div class="margin-y">
        <div class="field">
          <p class="label-width label-name">名前</p>
          <span class="label-position" style="margin-left: -52px">
            <%= f.label :last_name, "（姓）" %>
          </span>
          <span>
            <%= f.text_field :last_name, placeholder: "令和", class: "field-width" %>
          </span>

          <span class="label-position" style="margin-left: 16px">
            <%= f.label :first_name, "（名）" %>
          </span>
          <span>
            <%= f.text_field :first_name, placeholder: "道子", class: "field-width"%>
          </span>
        </div>

        <div class="field">
          <p class="label-width label-name">フリガナ</p>
          <span class="label-position" style="margin-left: -68px">
            <%= f.label :last_name_kana, "（セイ）" %>
          </span>
          <span>
            <%= f.text_field :last_name_kana, placeholder: "レイワ", class: "field-width" %>
          </span>

          <span style="position: relative;">
            <%= f.label :first_name_kana, "（メイ）" %>
          </span>
          <span>
            <%= f.text_field :first_name_kana, placeholder: "ミチコ", class: "field-width" %>
          </span>
        </div>

        <div class="field">
          <%= f.label :post_code, "郵便番号（ハイフンなし）", class: "label-width" %>
          <%= f.text_field :post_code, placeholder: "0000000", class: "field-width" %>
        </div>

        <div class="field" style="width: 100%">
          <%= f.label :address, "住所", class: "label-width" %>
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", style: "width:472px" %>
        </div>

        <div class="field">
          <%= f.label :phone_number, "電話番号", class: "label-width"  %>
          <%= f.text_field :phone_number, placeholder: "00000000000", class: "field-width" %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス", class: "label-width" %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "example@example.com", class: "field-width" %>
        </div>
      </div>

      <div class="actions d-flex justify-content-around">
        <%= f.submit "編集内容を保存", class: "btn btn-success" %>
        <%= link_to "退会する", customers_confirm_path, class: "btn btn-danger" %>
      </div>
    <% end %>

  </div>

</div>
