<div class="container">

  <div class="sub_container_position">
    <h4><span>マイページ</span></h4>
    <br>
    <div class="d-flex">
      <h5 class="subtitle-width">登録情報</h5>
      <p><%= link_to "編集する", customers_introduction_edit_path, class: "btn btn-success" %></p>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="bg-brown">氏名</td>
          <td class="bg-white"><%= "#{@customer.last_name} #{@customer.first_name}" %></td>
        </tr>
        <tr>
          <td class="bg-brown">カナ</td>
          <td class="bg-white"><%= "#{@customer.last_name_kana} #{@customer.first_name_kana}" %></td>
        </tr>
        <tr>
          <td class="bg-brown">郵便番号</td>
          <td class="bg-white"><%= @customer.post_code %></td>
        </tr>
        <tr>
          <td class="bg-brown">住所</td>
          <td class="bg-white"><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="bg-brown">電話番号</td>
          <td class="bg-white"><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td class="bg-brown">メールアドレス</td>
          <td class="bg-white"><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex">
      <h5 class="subtitle-width">配送先</h5>
      <p><%= link_to "一覧を見る", shipping_addresses_path, class: "btn btn-primary" %></p>
    </div>

    <div class="d-flex">
      <h5 class="subtitle-width">注文履歴</h5>
      <p><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></p>
    </div>

  </div>

  </div>

</div>
