<div class="container w-75">
  <div class="margin-y">
    <div class="d-flex align-items-center justify-content-between">
      <h4>商品一覧</h4>
      <%= link_to '＋', new_admin_item_path, class: "btn btn-lg btn-primary rounded-circle"%>
    </div>
    <table class='table margin-y'>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.price.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <td><% if item.is_active == true %>
              販売中
            <% else %>
              販売停止中
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

