<div class="container" style="width: fit-content">

  <div class="sub_container_position">
    <h4><span>商品新規登録</span></h4>
    <%= form_with model: @item, url: admin_items_path do |f| %>

      <div class="field">
        <%= f.label :商品画像, class: "label-width" %>
          <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class="field">
        <%= f.label :商品名, class: "label-width" %>
          <%= f.text_field :name, placeholder: "商品名", class: "field-width" %>
      </div>

      <div class="field">
        <%= f.label :商品説明, class: "label-width" %>
          <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: "field-width" %>
      </div>

      <div class="field">
        <%= f.label :ジャンル, class: "label-width" %>
          <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択してください--" %>
      </div>
      <div class="field">
        <%= f.label :税抜価格, class: "label-width" %>
        <%= f.number_field :price, placeholder: "1000", class: "field-width" %>
      </div>

      <div class="field">
        <%= f.label :販売ステータス, class: "label-width" %>
        <%= f.radio_button :is_active, :true %>
        <%= f.label :is_active, "販売中" %>
        <%= f.radio_button :is_active, :false %>
        <%= f.label :is_active, "販売停止中" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>


</div>

