<div class="container" style="width: fit-content">

  <div class="sub_container_position">
      <h4><span>管理者ログイン</span></h4>
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="field">
           <%= f.label :メールアドレス, class: "field-width" %>
           <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-width" %>
         </div>
         <div class="field">
           <%= f.label :パスワード, class: "field-width" %>
           <%= f.password_field :password, autocomplete: "current-password", class: "field-width" %>
         </div>
         <div class="actions">
           <%= f.submit "ログイン", class: "btn btn-info btn-sm btn-primary mb-2 sign_in field-width" %>
         </div>
        <% end %>
       <%= render "admin/shared/links" %>
   </div>
  </div>
</div>
