<div class="container">
<h1><%= (@customer.last_name + @customer.first_name) %>さんの会員詳細</h1>
<div class="row">
  <div class="col-xs-8">
    <table class="table customer-table">
      <tbody>
        <tr>
          <td>
            <strong class="col-xs-3">顧客ID</strong>
          </td>
          <td>
            <%= @customer.id %>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="col-xs-3">氏名</strong>
          </td>
          <td>
             <%= (@customer.last_name + @customer.first_name) %>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="col-xs-3">カナ</strong>
          </td>
          <td>
            <%= (@customer.last_name_kana + @customer.first_name_kana) %>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="col-xs-3">郵便番号</strong>
          </td>
          <td>
            <%= @customer.post_code.to_s.insert(3, "-") %>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="col-xs-3">住所</strong>
          </td>
          <td>
            <%= @customer.address %>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="col-xs-3">電話番号</strong>
          </td>
          <td>
            <%= @customer.phone_number %>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="col-xs-3">メールアドレス</strong>
          </td>
          <td>
            <%= @customer.email %>
          </td>
        </tr>
        <tr>
          <td>
            <strong class="col-xs-3">会員ステータス</strong>
          </td>
          <td>
            <% if @customer.is_deleted %>
              <strong class="text-danger">退会</strong>
            <% else %>
              <strong class="text-success">有効</strong>
            <% end %>
          </td>
        </tr>
      <tbody>
    </table>

    <span>
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-primary" %>
	  </span>
	  <span>
	     <%= link_to "注文履歴一覧を見る", admin_orders_show_path, class: "btn btn-primary" %>
	  </span>
	</div>
  </div>
</div>
</div>