<div class="d-flex padding-sm-y">
  <%= f.label :post_code, "郵便番号", class: "label-width" %>
  <%= f.text_field :post_code, placeholder: "0000000"%>
</div>

<div class="d-flex padding-sm-y">
  <%= f.label :address, "住所", class: "label-width" %>
  <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0"%>
</div>

<div class="d-flex padding-sm-y">
  <%= f.label :name, "宛名", class: "label-width" %>
  <%= f.text_field :name, placeholder: "令和道子"%>
</div>