<div class="container">
  <h2>配送先登録/一覧</h2>
    <%= form_with model: @shipping_address, url: shipping_addresses_path do |f| %>
    <%= render "layouts/form_errors", model: @shipping_address %>
      <div class="field margin-y">
        <%= render 'public/shipping_addresses/ship_form', f: f %>
        <div style="text-align: end">
          <%= f.submit '新規登録' ,class: "btn btn-success padding-x" %>
         </div>
      </div>
    <% end %>

  <table class="table" >
    <thead>
      <tr>
        <th class="bg-brown">郵便番号</th>
        <th class="bg-brown">住所</th>
        <th class="bg-brown">メールアドレス</th>
        <th colspan="2" class="bg-brown"></th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_addresses.each do |shipping_address| %>
        <tr>
          <td class="bg-white"><%= shipping_address.post_code %></td>
          <td class="bg-white"><%= shipping_address.address %></td>
          <td class="bg-white"><%= shipping_address.name %></td>
          <td class="bg-white">
            <%= link_to '編集する', edit_shipping_address_path(shipping_address), class: "btn btn-sm btn-success" %>
          </td>
          <td class="bg-white">
            <%= link_to '削除する', shipping_address_path(shipping_address), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>