<div class="container w-75">
  <div class="margin-y">
    <div class="d-flex align-items-center justify-content-between">
      <h4>注文履歴一覧</h4>
    </div>
    <table class='table table-hover margin-y'>
      <thead>
        <tr>
          <th class="bg-brown">購入日時</th>
          <th class="bg-brown">購入者</th>
          <th class="bg-brown">注文個数</th>
          <th class="bg-brown">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %></td>
          <td><%= link_to admin_order_search_path(order.customer.id) do %>
          <%= order.customer.last_name %> <%= order.customer.first_name %>
          <% end %></td>
          <td><%= order.order_details.sum(:quantity) %></td>
          <td><%= Order.statuses_i18n[order.status] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @orders %>
</div>
