<div class="container" style="width: fit-content">

  <div class="sub_container_position">
    <h4><span>新規会員登録</span></h4>
    <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label "名前", class: "label-width" %>
        <span class="label-position" style="margin-left: -52px">
          <%= f.label :last_name, "（姓）" %>
        </span>
        <span>
          <%= f.text_field :last_name, placeholder: "令和", class: "field-width" %>
        </span>

        <span class="label-position" style="margin-left: 16px">
          <%= f.label :first_name, "（名）" %>
        </span>
        <span>
          <%= f.text_field :first_name, placeholder: "道子", class: "field-width"%>
        </span>
      </div>

      <div class="field">
        <%= f.label "フリガナ", class: "label-width" %>
        <span class="label-position" style="margin-left: -68px">
          <%= f.label :last_name_kana, "（セイ）" %>
        </span>
        <span>
          <%= f.text_field :last_name_kana, placeholder: "レイワ", class: "field-width" %>
        </span>

        <span style="position: relative;">
          <%= f.label :first_name_kana, "（メイ）" %>
        </span>
        <span>
          <%= f.text_field :first_name_kana, placeholder: "ミチコ", class: "field-width" %>
        </span>

      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス", class: "label-width" %>
        <%= f.email_field :email, autocomplete: "email", placeholder: "example@example.com", class: "field-width" %>
      </div>

      <div class="field">
        <%= f.label :post_code, "郵便番号（ハイフンなし）", class: "label-width"  %>
        <%= f.text_field :post_code, placeholder: "0000000", class: "field-width" %>
      </div>

      <div class="field" style="width: 100%">
        <%= f.label :address, "住所", class: "label-width"  %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", style: "width:472px" %>
      </div>

      <div class="field">
        <%= f.label :phone_number, "電話番号", class: "label-width"  %>
        <%= f.text_field :phone_number, placeholder: "00000000000", class: "field-width" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード（６文字以上）", class: "label-width"  %>
        <%= f.password_field :password, autocomplete: "new-password", class: "field-width" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認用）", class: "label-width"  %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-width" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <div class="sub_container_position">
    <h4><span>中央寄せ用</span></h4>
    <div>
      <span><%= render "public/shared/links" %>からログインしてください。</span>
    </div>
  </div>

</div>
