<div class="container">
<h1>注文情報確認</h1>
  <div class="row">
    <div class="col-xs-8">
      <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
              <%= image_tag cart_item.item, :image, fallback: "no_image.jpg", size:"100x80" %>
              <%= cart_item.item.name %>
          </td>
          <td><%= (cart_item.items.price * 1.1).floor.to_s(:delimited) %>円</td>
          <td><%= cart_item.items %></td>
          <td><%= (cart_item.items.price * cart_item.quantity * 1.1).floor.to_s(:delimited) %>円</td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
    <%= form_with model: @order, url: orders_path, local: true do |f| %>
    <div class="col-xs-3">
        <table class="table">
          <tbody>
            <tr>
              <td class="confirm-td">送料</td>
              <td>
                  <%= @order.postage.to_s(:delimited) %>円
                  <%= f.hidden_field :postage, :value => @order.postage %>
              </td>
            </tr>
            <tr>
              <td class="confirm-td">商品合計</td>
              <td>
                <%= @billing_amount.to_s(:delimited) %>円
              </td>
            </tr>
            <tr>
              <td class="confirm-td">請求金額</td>
              <td>
                ¥<%= (@billing_amount + 800).to_s(:delimited) %>円
                <%= f.hidden_field :total_fee, :value => (@billing_amount + 800) %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <div class="row">
    <h3>支払方法</h3>
      <h4><%= @order.payment %></h4>
      <%= f.hidden_field :payment, :value => @order.payment %></br>
    <h3>お届け先</h3>
      <%= @order.post_code %></br>
      <%= f.hidden_field :post_code, :value => @order.post_code %>
      <%= @order.address %></br>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= @order.name %></br>
      <%= f.hidden_field :name, :value => @order.name %>

  </div>
    <div class="text-right">
      <%= link_to "情報入力へ戻る", new_order_path %>
    </div>
    <div class="text-center">
      <%= f.submit "購入を確定する", class: "btn btn-success btn-lg text-center" %>
    </div>
    <% end %>
</div>