<div class="container">
  <h2>注文情報入力</h2>

  <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>

    <div>
      <h3><%= f.label :payment_method, "支払方法" %></h3>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    </div>

    <div>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
    </div>

    <div>
      <h3><%= f.label :address_number, "お届け先" %></h3>
      <%= f.radio_button :address_number, 0, checked: "checked" %>
      <%= f.label :address_number, "ご自身の住所" %>
     <br>
      <%= "〒" %><%= @customer.post_code %>
      <%= @customer.address %>
     <br>
      <%= @customer.last_name %><%= @customer.first_name %>

     <br>
      <%= f.radio_button :address_number, 1 %>
      <%= f.label :address_number, "登録済住所から選択" %>
     <br>
      <%= f.select :address_id ,options_from_collection_for_select(ShippingAddress.all, :id, :address_display, params[:customer_id]) %>

      <br>
       <%= f.radio_button :address_number, 2 %>
       <%= f.label :address_number, "新しいお届け先" %>

      <br>
      <div class="form-group col-xs-9">
        <%= f.label :"郵便番号(ハイフンなし)", placeholder: "example@example.com", class: "col-sm-3 from-control" %>
        <%= f.text_field :post_code, placeholder: "0000000", class: "col-sm-3" %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :"住所", class: "col-sm-3 from-control" %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "col-sm-5" %>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :"宛名", class: "col-sm-3 from-control" %>
        <%= f.text_field :name, placeholder: "令和道子", class: "col-sm-3" %>
      </div>
       <%= f.submit '確認画面に進む' ,class: "btn btn-success" %>
    </div>

  <% end %>

</div>