<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light nav-style">
        <div class="windowLayout container-fluid">
          <a class="navbar-brand" href="/homes/top">Navbar</a>
          <% if customer_signed_in? %>
            <p class="m-0">ようこそ <%= "#{current_customer.last_name} #{current_customer.first_name}" %> さん</p>
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <% if customer_signed_in? %>
                <li class="nav-item px-3">
                  <%= link_to "マイページ", customers_mypage_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
                  <%= link_to "商品一覧", items_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
                  <%= link_to "カート", public_cart_items_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link'  %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item px-3">
                  <%= link_to "商品一覧", admin_items_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
                  <%= link_to "会員一覧", admin_customers_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
                  <%= link_to "注文履歴一覧", admin_homes_top_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link'  %>
                </li>
              <% else %>
                <li class="nav-item px-3">
                  <%= link_to "About", homes_about_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
<<<<<<< HEAD
                  <%= link_to "商品一覧", public_items_path, class: 'nav-link'  %>
=======
                  <%= link_to "商品一覧", items_path, class: 'nav-link'  %>
>>>>>>> origin/develop
                </li>
                <li class="nav-item px-3">
                  <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link'  %>
                </li>
                <li class="nav-item px-3">
                  <%= link_to "ログイン", new_customer_session_path, class: 'nav-link'  %>
                </li>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
